
.imgplato {
    display: block;
    max-width: 100%;
    /*Este hace que las imagenes necajen bien en el contenedor*/
}

.Grilla-Cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 0.5rem;
    padding-right: 0.5rem;
    margin: 1rem auto;
}

.Card {
    flex: 1 1 15rem;
    background-image: linear-gradient(to bottom, blueviolet, white);
    /* max-width: 461px; */
    /* min-width: 461px; */
    padding: 0.5rem;
    border: 0.2rem solid var(--color-card-borde);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem var(--color-card-boxshadow);

    /* transition: transform 0.3s ease; */
    transform: scale(1);
}

.Grilla-Cards:hover .Card:hover {
    transform: scale(1.05);
}

.gradientePlato {
    background-image: linear-gradient(to bottom, blueviolet, white);
}

/* Solo cuando una Card tiene hover, reduce las demás /*
/* .Grilla-Cards:has(.Card:hover) .Card:not(:hover) { /*
    /* transform: translateY(-5px); */
    /* filter: blur(0.1rem); */
/* }  */

/*BOTONES PARA AGREGAR Y QUITAR DEL CARRITO----------------------------------------*/

figure {
    position: relative;
}

.controls {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.controls button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.controls button:hover {
    background-color: lightgray;
}

.controls .counter {
    font-size: 1rem;
    font-weight: bold;
}

.btnDetalles {
    display: block;
    background-color: blueviolet;
    border-color: blueviolet;
    border-radius: 0.3em;
    width: 100%;
    font-size: 1.2em;
}